.select {
  &__options {
    height: 35px;
    font-size: 16px;
    outline: none;
    box-shadow: $boxShadow;
    padding-left: 5px;

    cursor: pointer;
    &:focus {
      box-shadow: $boxShadowHover;
    }
  }
}
