.search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 10px;
  border-radius: 10px;
  &__input {
    box-shadow: $searchShadow;
    min-width: 290px;
    max-width: 600px;
    padding: 10px;
    height: 45px;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: $colorBg;
    padding-left: 40px;
    background-image: url('../../../../assets/icons/search/search.svg');
    background-repeat: no-repeat;
    background-position: left 7px center;
    &:focus {
      box-shadow: $searchShadowHover;
    }
  }
}
