.header {
  padding: 1.5rem 0;
  border-bottom: 2px solid $colorGrayLight;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  &__logo {
    max-width: 10rem;
    width: 100%;
  }
}

.nav {
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @include font(1.5rem, $fontMedium, $colorBlack);
    text-transform: uppercase;
    transition: all 0.3s ease;

    &:hover {
      color: $colorBlue;
    }
  }
}
