$colorFont: #3a3a3a;
$colorBg: #f8f8fb;
$colorGray: #ddd;
$colorGrayLight: #aaa;
$colorGrayDark: #333;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorYellow: #ffd90c;
$colorYellowLight: #efdc7b;
$colorOrange: #fe9704;
$colorBlueDark: #303c6c;
$colorBlue: #69a6ce;
$boxShadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
$textShadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
$textShadowHover: 1px 1px 2px rgba(255, 255, 255, 0.4);

$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;

$pc: 1200px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;
